{% extends 'base.html.twig' %}

{% block body %}
    <h1>Platos list</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Ingredientes</th>
            <th>Precio</th>
            <th>Alergenos</th>
            <th>Imagen</th>
            <th>Tipoplato</th>
            <th>Destacado</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for plato in platos %}
            <tr>
                <td><a href="{{ path('plato_show', { 'id': plato.id }) }}">{{ plato.id }}</a></td>
                <td>{{ plato.nombre }}</td>
                <td>{{ plato.ingredientes }}</td>
                <td>{{ plato.precio }}</td>
                <td>{{ plato.alergenos }}</td>
                <td><img class="img-fluid" src="{{ asset(platosImg~plato.imagen) }}" alt=""></td>
                <td>{{ plato.tipoPlato }}</td>
                <td>{% if plato.destacado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('plato_show', { 'id': plato.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('plato_edit', { 'id': plato.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plato_new') }}">Create a new plato</a>
        </li>
    </ul>
{% endblock %}
