{% extends 'base.html.twig' %}

{% block body %}

    <h1>Plato</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plato.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ plato.nombre }}</td>
            </tr>
            <tr>
                <th>Ingredientes</th>
                <td>{{ plato.ingredientes }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ plato.precio }}</td>
            </tr>
            <tr>
                <th>Alergenos</th>
                <td>{{ plato.alergenos }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img class="img-fluid" src="{{ asset(platosImg~plato.imagen) }}" alt=""></td>
            </tr>
            <tr>
                <th>Tipoplato</th>
                <td>{{ plato.tipoPlato }}</td>
            </tr>
            <tr>
                <th>Destacado</th>
                <td>{% if plato.destacado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plato_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('plato_edit', { 'id': plato.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
