{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empleados list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dni</th>
                <th>Nombre</th>
                <th>Apellido1</th>
                <th>Apellido2</th>
                <th>Puesto</th>
                <th>Email</th>
                <th>Imagen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empleado in empleados %}
            <tr>
                <td><a href="{{ path('empleado_show', { 'id': empleado.id }) }}">{{ empleado.id }}</a></td>
                <td>{{ empleado.dni }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido1 }}</td>
                <td>{{ empleado.apellido2 }}</td>
                <td>{{ empleado.puesto }}</td>
                <td>{{ empleado.email }}</td>
                <td><img class="img-fluid" src="{{ asset(empleadosImg~empleado.imagen) }}" alt=""></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('empleado_show', { 'id': empleado.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('empleado_edit', { 'id': empleado.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empleado_new') }}">Create a new empleado</a>
        </li>
    </ul>
{% endblock %}
