{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empleado</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empleado.id }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ empleado.dni }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ empleado.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido1</th>
                <td>{{ empleado.apellido1 }}</td>
            </tr>
            <tr>
                <th>Apellido2</th>
                <td>{{ empleado.apellido2 }}</td>
            </tr>
            <tr>
                <th>Puesto</th>
                <td>{{ empleado.puesto }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ empleado.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empleado_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('empleado_edit', { 'id': empleado.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
