{% extends 'base.html.twig' %}
{% block title %}Restaurante{% endblock %}
{% block body %}
    <!-- Portfolio Grid -->
    <section class="bg-light carta" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">platos detacados</h2>
                    <h3 class="section-subheading text-muted">Los mejores platos de nuestra carta</h3>
                </div>
            </div>
            <div class="row">
                {% for plato in platos %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="{{ asset(platosImg~plato.imagen) }}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ plato.nombre }}</h4>
                            <p class="text-muted">{{ plato.precio }} €</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}