{% extends 'base.html.twig' %}
{% form_theme contacto 'form/platoForm.html.twig' %}

{% block title %}Restaurante{% endblock %}
{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <!-- Header -->
    <header id="header" class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenidos al RESTAURANTE!</div>
                <div class="intro-heading text-uppercase">CENA CON NOSOTROS</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="">carta completa</a>
            </div>
        </div>
    </header>
    <!-- Services -->
    <section id="servicios">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">nuestros servicios</h2>
                    <h3 class="section-subheading text-muted">Ponemos a tu disposición variedad de servicios para que elijas el que más te apetezca</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-store-alt fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">Cena en el Restaurante</h4>
                    <p class="text-muted">En nuestro local vas a poder disfrutar de un ambiente tranquilo adecuado a tus necesidades, pues el Restaurante cuenta con zona recreativa para los niños y una zona chillout</p>
                </div>
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-shopping-bag fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">Para llevar</h4>
                    <p class="text-muted">¡Si haces un pedido para recoger en el restaurante te invitamos a un entrante o postre que tu elijas!</p>
                </div>
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-shipping-fast fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">A domicilio</h4>
                    <p class="text-muted">¡Cenar en casa nunca ha sido tan barato! Pide a domicilio sin coste adicional, solo por un pedído mínimo de 10€. Si llegas a 20 te regalamos la bebida!!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">platos detacados</h2>
                    <h3 class="section-subheading text-muted">Los mejores platos de nuestra carta</h3>
                </div>
            </div>
            <div class="row">
                {% for plato in platos %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ plato.id }}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="{{ asset(platosImg~plato.imagen) }}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ plato.nombre }}</h4>
                            <p class="text-muted">{{ plato.precio }} €</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Modal 1 -->
    {% for plato in platos %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ plato.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">{{ plato.nombre }}</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="{{ asset(platosImg~plato.imagen) }}" alt="">
                                <p></p>
                                <ul class="list-inline">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Cerrar Plato</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Team -->
    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                {% for empleado in empleado %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="img-fluid" src="{{ asset(empleadosImg~empleado.imagen) }}" alt="">
                        <h4 class="text-capitalize">{{ empleado.nombre }} {{ empleado.apellido1 }}</h4>
                        <p class="text-muted text-capitalize">{{ empleado.puesto }}</p>

                    </div>
                </div>

                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
